<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
    <div class="jobs-list-container">
      <input class="job-search" type="text" placeholder="Search here..." />
      <h2>5 Jobs</h2>
      <div class="jobs">
        <div class="job">
          <img src="images/software-engineer.svg" alt="ERREUR">
          <h3 class="job-title">Software Engineer</h3>
          <div class="details">Responsible for designing ,developing and maintaining software systems and application
          </div>
          <a href="#" class="details-btn">More Details</a>
          <span class="open-positions">2 open position </span>
        </div>

        <div class="job">
          <img src="images/data-scientist.svg" alt="ERREUR">
          <h3 class="job-title">Data Scientist</h3>
          <div class="details">Responsible for collecting, analyzing and interpreting large data sets to help organizations make better decisions.
          </div>
          <a href="#" class="details-btn">More Details</a>
          <span class="open-positions">4 open position </span>
        </div>
        
        <div class="job">
          <img src="images/marketing-manager.svg" alt="ERREUR">
          <h3 class="job-title">Marketing Manager</h3>
          <div class="details">Responsible for designing ,developing and maintaining software systems and application
          </div>
          <a href="#" class="details-btn">More Details</a>
          <span class="open-positions">5 open position </span>
        </div>

        <div class="job">
          <img src="images/project-manager.svg" alt="ERREUR">
          <h3 class="job-title">Project Manager</h3>
          <div class="details">Responsible for planning, executing and closing projects on time and within budget.
          </div>
          <a href="#" class="details-btn">More Details</a>
          <span class="open-positions">4 open position </span>
        </div>
        <div class="job">
          <img src="images/product-manager.svg" alt="ERREUR">
          <h3 class="job-title">Product Manager </h3>
          <div class="details">Responsible for managing the entire product life cycle, from ideation to launch and post-launch maintenance.
          </div>
          <a href="#" class="details-btn">More Details</a>
          <span class="open-positions">3 open position </span>
        </div>
      </div>

      

      <div class="jobs"></div>
    </div>

    <script src="main.ts"></script>
  </body>
</html>
